body {
	background-color: white;
	#main {
		width: 100%;
		height: 100%;
		.navbar-brand {
			font-family: Comic Sans MS;
			font-size: 2em;
		}
	}
	#home {
		width: 70%;
		height: 100%;
		margin: auto;
		text-align: center;
		h1 {
			padding-top: 2em;
		}
		p {
			padding-top: 1em;
			padding-bottom: 1em;
			font-size: 2em;
		}
		button {
			width: 50%;
			height: 2em;
			font-size: 2em;
		}
	}
	#draw {
		width: 100%;
		height: 100%;
		text-align: center;
		button {
			width: 25%;
			margin: auto;
			height: 2em;
			font-size: 1.5em;
		}
	}
	#message {
		text-align: center;
		button {
			width: 25%;
			margin: auto;
			height: 2em;
			font-size: 1.5em;
		}
	}
	canvas {
		background-color: white;
	}
	.lc-color-pickers {
		padding-left: 20px;
	}
}
